* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#0F1624;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    
}
.nav_box {
display: flex;
justify-content: space-around;
align-items: center;
min-height: 137px;
max-width: 100%;
flex-wrap: wrap;

}


.navitem{
    display: flex;
    flex-basis: 202px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.navitem a, .portfolio{
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    flex-basis: 124px;
}
.portfolioimg {
    flex-basis: 47px;
}
.navitem1 {
    
    font-weight: 500;
font-size: 24px;
line-height: 36px;
flex-basis: 471px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
}
.navitem1 a{
    text-decoration: none;
    color: #fff;
}
.navitem2 {
    
    flex-basis: 202px;
    display: flex;
    justify-content: space-around;
}
.linkedin {
    border-radius: 3px;
    background: #fff;
    padding: 3.5px 2.5px;
}
.navitem::after {
    content: '';
    width: 100%;
    height: 4px;
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navitem:hover::after{
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.projects::after{
    content: '';
    width: 100px;
    height: 4px;
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.projects:hover::after{
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.Technologies::after{
    content: '';
    width: 160px;
    height: 4px;
    background: none;
    position: absolute;
    bottom: 0;
    left: 145px;
}
.Technologies:hover::after{
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.aboutme::after{
    content: '';
    width: 120px;
    height: 4px;
    background: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
.aboutme:hover::after{
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
/*
-------------------------------------
 NAV
 -----------------------------------
  */
.head {
    min-height: 1130;
    max-width: 100%;
    overflow-x: hidden;
}
.headbox {
    max-width: 810px;
    margin-top:146px;
    margin-bottom: 175px;
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 460px;
    
}
.headbox h2{
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #fff;
}
.headbox p{
    font-weight: 600;
font-size: 30px;
line-height: 45px;
color: #BCBCBC;

}
.headbox a{
    text-decoration: none;
    padding: 20px 65px;
    color: #fff;
    font-weight: 600;
     font-size: 28px;
    line-height: 42px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 83px;
transition: all 1s;
}
.headbox a:hover {
    background: pink;
}
.imgpic {
    position: relative;
    
}
.pic {
    position: absolute;
    top: -146px;
    right: -140px;
    
}
/* 
-------------------------------
HEADER
-------------------------------
 */
 
 .contenttext h2{
    font-weight: 600;
font-size: 55px;
line-height: 82px;
color: #fff;
margin-left: 100px;
margin-bottom: 110px;
 }
 .contentbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    margin-bottom: 180px;
    
 }
 .maincontent {
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    max-width: 1170px;
    border: 1px solid white;
    border-radius: 50px 0 50px 0;
    background: #0F1624;
    box-shadow: 0px 0px 12px #FFFFFF;
    margin-bottom: 139px;
 }
 .parag{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 88px;
    
    
 }
 .parag h2{
    font-weight: 600;
font-size: 36px;
line-height: 88.5%;
text-transform: uppercase;
align-self: center;

 }
 .parag p{
    font-weight: 600;
font-size: 28px;
line-height: 42px;
max-width: 500px;
margin-right: 90px;
margin-left: 55px;
margin-top: 110px;
margin-bottom: 35px;
 }
 .contentimg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;
 }
 .space {
    margin: 20px 10px 0 10px;
 }
 .info_box {
    display: flex;
    
    color: #fff;
    flex-wrap: wrap;
    gap:106px ;
 }
 
 .topimg img {
    max-width: 483px;
    max-height: 273px;
    
 }
 

 .readme {
    text-align: center;
    
 }
 
 .maincontent2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    min-height: 600px;
    max-width:100%;
    border: 1px solid white;
    border-radius: 50px 0 50px 0;
    background: #0F1624;
    box-shadow: 0px 0px 12px #FFFFFF;
    
}


 
.parag a{
    align-self: center;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
font-size: 20px;
line-height: 30px;
padding: 20px 60px;
background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
border-radius: 83px;
 }
 .second {
    margin-top: 31px;
    flex-wrap: wrap;
 }
 .second p {
    margin-top: 55px;
    margin: 55px 15px 0 15px;
    height: 216px;
    max-width: 500px;
 }
.second a {
    margin-bottom: 30px;
}

.project5::after{
    content: '';
    width: 50%;
    height: 10px;
    
    position: absolute;
    top: 36px;
    right: 25%;
    left: 25%;
    
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.project6::after{
    content: '';
    width: 50%;
    height: 4px;
    
    position: absolute;
    top: 36px;
    right: 25%;
    left: 25%;
    
    background-repeat: no-repeat;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

/* 
--------------------------------------------
SLIDERS
---------------------------------------------
 */
 .slider_box {
    
    flex-wrap: wrap;
 }
.sliders {
    max-width: 1170px;
    max-height: 1433px;
    margin: 0 auto;
}
 .tech h2 {
    font-weight: 600;
font-size: 64px;
line-height: 96px;
color: #FFFFFF;
margin-left: 115px;
margin-bottom: 103px;
 }
 .slider1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    
 }
 .slider2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
 }
 
 .slider2 p {
    margin-right: 73px;
    flex-basis: 170px;
    float: left;
 }
 .advanced {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 .colorbar1 {
    max-width: 100%;
    min-height: 32px;
    background: #162950;
border-radius: 83px;
position: relative;
 }

 .colorbarcolor {
    width: 75%;
    height: 32px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border-radius: 83px;
    position: absolute;
    left: 0;
 }
 .colorbarcolor1 {
    width: 50%;
    height: 32px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border-radius: 83px;
    position: absolute;
    left: 0;
 }
 .colorbarcolor2 {
    width: 20%;
    height: 32px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border-radius: 83px;
    position: absolute;
    left: 0;
 }
 .slider_box h3 {
    margin-left: 22px;
    font-weight: 600;
font-size: 36px;
line-height: 54px;
    color: #FFFFFF;
 }
 .slider_box p {
    flex-basis: 177px;
    margin-right: 58px;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
 }


 /* 
 -----------------------------------
 ADDITIONAL 
 ---------------------------------
 */
 .additional {
    margin: 0 auto;
    max-width: 1170;
    min-height: 294px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
.txt h2 {
    font-weight: 600;
font-size: 48px;
line-height: 72px;
margin-top: 150px;
margin-bottom: 45px;
color: #FFFFFF;
max-width: 910px;
max-height: 96px;
}
.git {
    margin: 45px 0;
    display: flex;
    flex-wrap: wrap;
}
.quick {
    display: flex;
    flex-wrap: wrap;
    
}
.inside {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;
    max-height: 20px;
   
}
.inside h3 {
    color: #FFFFFF;
    font-weight: 600;
font-size: 36px;
line-height: 54px;
}
.bubble {
    width: 25px;
    height: 25px;
    align-self: center;
    margin-left: 25px;
    margin-right: 53px;
    background: linear-gradient(271.6deg, #13ADC7 1.52%, #6978D1 67.44%, #945DD6 96.85%);
border-radius: 0px 250px 250px 250px;
}


/* 
-------------------------------------
TECHNOLOGIES
----------------------------------------
 */

.fin {
    margin-top: 180px;
}
.about {
    max-width: 432px;
    min-height: 95px;
}
 .about h2 {
    font-weight: 600;
font-size: 64px;
line-height: 96px;
margin-left: 100px ;
color: #FFFFFF;
 }
 .ending_box {
    max-width: 1170px;
    margin: 75px auto 0 auto;
    min-height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
 }
 .ending_item  {
 flex-basis: 50%;
 }
 .ending_item p {
    font-weight: 600;
font-size: 28px;
line-height: 42px;

color: #FFFFFF;
    margin-left: 100px;
    margin-top: 26px;
    
 }
 .ending_img {
    flex-basis: 50%;
    position: relative;

 }
 .girl {
    display: flex;
    justify-content: center;
    margin-top: 52px;
 }
 .girl img {
    max-height: 350px;
    
 }
 .blob {
    top: 26px;
    z-index: -1;
    position: absolute;
    width: 350px;
    height: 315px;
    background: linear-gradient(271.6deg, #13ADC7 1.52%, #6978D1 67.44%, #945DD6 96.85%);
box-shadow: 0px 0px 12px #FFFFFF;
border-radius: 0px 250px 250px 250px;
 }


 /* 
 ---------------------------------------
 ENDING PARAGRAPH
 ---------------------------------------
  */

.footer_box {
    display: flex;
    margin-top: 140px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
footer h2 {
    font-weight: 600;
font-size: 42px;
line-height: 63px;

color: #FFFFFF;
}
.call {
    min-height: 122px;
    flex-basis: 356px;
}
.email {
    flex-basis: 500px;
}
.corner {
    display: flex;
    align-items: center;
    margin-left: 102px;
}
.github {
    margin-right: 67px;
}
.corner img {
    width: 70px;
    height: 60px;
}
@media screen and (max-width: 1182px) {
    .tech h2 {
        font-size: 56px;
        margin-left: 20px;
    }
    .bottom {
        margin-top: 40px;
    }
    .contenttext h2{
        text-align: center;
        margin-left: 0;
    }
    .navitem1 {
        flex-direction: column;
        align-items: flex-end;
    }
    .headbox {
        margin-left: 20px;
    }
    .maincontent{
        flex-direction: column;
        margin: 0 20px;
    }
    .contentimg img {
        margin: 0 20px 40px 20px;
        max-width: 100%;
        max-height: 440px;
        margin-bottom: 40px;
        border-radius: 50px 20px 50px 20px;
    }
    .space1 {
        margin: 0 10px;
    }
    .parag {
        align-items: center;
    }
    .parag p {
        text-align: center;
        line-height: 1.5;
    }
    .parag a {
        margin: 30px 0;
    }
    .project5::after {
        width: 50%;
        right: 25%;
        left: 25%;
        position: absolute;

       
    }
    .info_box {

        margin-top: 139px;
    }
    .maincontent2 {
        margin: 0 20px 139px 20px;
    }
    .topimg img{
        margin-top: 20px;
    }
    .second {
        margin-left: 20px;
    }
    .call {
        margin: 0 auto 30px auto;
    }
    .email {
        flex-basis: 200px;
        margin: 0 auto;
    }
    .corner {
        margin: 0 auto 40px auto;
    }
}
@media screen and (max-width: 708px) {
    .navitem {
        margin-top: 10px;
        justify-content: flex-start;
    }
        .navitem1 {
            align-items: center;
            margin: 15px 0;
            padding-bottom: 15px;
        }
        .info_box {

            margin-top: 139px;
        }
        .txt {
            margin-left: 20px;
        }
        .inside {
            margin: 30px 0;
        }
        .ending_item  {
            flex-basis: 100%;
            
            }
            .about  h2{
                text-align: center;
                margin: 0;
            }
            .ending_item p {
                margin-left: 15px;
            }
            
            .ending_img {
                flex-basis: 50%;
                margin: 0 auto;
             }
             .call {
                margin-bottom: 30px;
                margin-left: 20px;
             }
             .email {
                margin-bottom: 30px;
                margin-left: 20px;
             }
             .corner {
                margin-bottom: 40px;
             }

}
@media screen and (max-width: 540px) {
    .tech h2 {
        margin-left: 10px;
        font-size: 54px;
    }
    .project5::after {
        right: 65px;
    }
    .parag p {
        text-align: unset;
        
    }
    .slider2 p {
        margin-right: 0;
    }
    
    .second a {
        margin-top: 150px;
    }
    .git {
        
        margin: 150px 0 0 20px;
    }
    .quick {
        margin-left: 20px;
    }
    
}